target/
lib_managed/
src_managed/
project/boot/
.idea/
activemq-data/
*.iml
solr/data
solr/vivowidgetcore/data*
solr/vivocore/data*
outtenr*
project/build/target/*
sqlnet.log
target*
.ensime
src/main/resources/*deploy.properties
.project
*.orig
