<ul%{ if (style=="yes") out.print(' style="list-style:none;border:solid 1px #CCC;-moz-border-radius: 15px;border-radius: 15px;margin:3px;padding:4px; "')}%>
#{list publications}
%{ if (formatting=="abbreviated") { }%
  <li%{ if (style=="yes") out.print(' style="margin:.45em;padding:.45em"')}%>${_.abbreviated} <span onmouseout="this.style.textDecoration ='underline';" onmouseover="this.style.textDecoration ='none';this.style.cursor='pointer'" style="color:#2485AE;text-decoration:underline" href="#">More info</span></li>
%{ } else { }%
  <li%{ if (style=="yes") out.print('  style="margin:.45em;padding:.45em"')}%>${_.citation}  <span  onmouseout="this.style.textDecoration ='underline';" onmouseover="this.style.textDecoration ='none';this.style.cursor='pointer'" style="color:#2485AE;text-decoration:underline" href="#">More info</span></li>
%{ } }%
#{/list}
</ul>
