<configuration>


  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${widget.logging.dir:-./}widgets.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${widget.logging.dir:./}widgets.%d{yyyy-MM-dd}.log.gz</fileNamePattern>

      <!-- keep 20 days' worth of history -->
      <maxHistory>20</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender> 

  <logger name="widget.timer" level="info" />
  <logger name="edu.duke.oit.vw.scalatra.WidgetUpdatesFilter" level="info" />
  <logger name="edu.duke.oit.vw.scalatra.WidgetsFilter" level="debug" />

  <logger name="edu.duke.oit.vw.solr.PersonIndexer" level="debug" />
  <logger name="edu.duke.oit.vw.solr.VivoSolrIndexer" level="debug" />

  <logger name="edu.duke.oit.vw.solr.VivoSearcher" level="debug" />
  <logger name="edu.duke.oit.vw.solr.WidgetsSearcher" level="debug" />


  <root level="info">
    <!-- <appender-ref ref="STDOUT" /> -->
    <appender-ref ref="FILE"/>
  </root>

</configuration>
