{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Swagger Vivo Widgets",
    "description": "Vivo widgets API in the swagger-2.0 specification"
  },
  "host": "scholars.duke.edu",
  "basePath": "/widgets",
  "schemes": ["https"],
  "produces": [
    "application/json",
    "application/html",
    "application/javascript" 
  ],
 "paths": {
    "/api/v0.9/people/{collectionName}/{count}.{format}": {
      "get": {
       "description": "Returns a person or attributes of a person - in a variety of formats",
       "parameters": [
         {
          "name": "collectionName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "which things to show (publications, grants etc... ) - 'complete' is a valid value",
          "enum": ["publications", "artistic_works", "awards", "grants", "courses", "newsfeeds", "professional_activities", "positions", "addresses", "overview", "contact", "complete"]
         },
         {
           "name": "count",
           "in": "path",
           "required": "true",
           "description": "how many records to show - 'all' is a valid value"
         },
         { 
           "name": "format",
           "description": "In what format to return results",
           "enum": ["json", "jsonp", "js", "html"]
         },
         {
           "name": "uri",
           "in": "query",
           "required": true,
           "description": "which URI to look at.  If missing will return 'key not found: uri'"
         },
         {
           "name": "formatting",
           "in": "query",
           "required": false
         },
         {
           "name": "style",
           "in": "query",
           "required": false
         },
         {
           "name": "start",
           "in": "query",
           "required": false
         },
         {
           "name": "end",
           "in": "query",
           "required": false
         }
       ],
       "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "schema": {
              "$ref": "#/definitions/Person"
            }          
          }
        }
      }
    },
    "/api/v0.9/organizations/{collectionName}/{count}.{format}": {
      "get": {
       "description": "Returns an organization (or specific attributes of an organization) - in a variety of formats",
       "parameters": [
         {
          "name": "collectionName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "which things to show (publications, grants etc... ) - 'complete' is a valid value",
          "enum": ["publications", "artistic_works", "awards", "grants", "courses", "newsfeeds", "professional_activities", "positions", "addresses", "overview", "contact", "complete"]
         },
         {
           "name": "format",
           "enum": ["json", "html"]
         {
           "name": "count",
           "in": "path",
           "required": "true",
           "description": "how many records to show - 'all' is a valid value"
         },
         {
           "name": "uri",
           "in": "query",
           "required": false
         },
         { 
           "name": "format",
           "description": "In what format to return results",
           "enum": ["json", "jsonp", "js", "html"]
         },
         {
           "name": "formatting",
           "in": "query",
           "required": false
         },
         {
           "name": "style",
           "in": "query",
           "required": false
         },
         {
           "name": "start",
           "in": "query",
           "required": false
         },
         {
           "name": "end",
           "in": "query",
           "required": false
         }
       ],
       "responses": {
          "200": {
            "description": "Expected response to a valid request",
             "schema": {
              "$ref": "#/definitions/Organization"
            }          
          }
        }
      }
         
    }
    
  },
  "/search/modified.{format}": { 
    "get": { 
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "date in YYYY-MM-DD format"
          },
          {
            "name": "format",
            "in": "path",
            "enum": ["json"],
            "description": "format is requested by *.ext - but the only returned format is 'json' at the moment"
          },
          {
            "name": "offset",
            "in" : "query",
            "type": "integer",
            "description": "where to start the list (if there are more than 1000)"
        ],
       "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "schema": {
              "$ref": "#/definitions/ModifiedList"
            }
        }
 
    }
  },
  "/search.{format}": { 
    "get": { 
      "parameters": [
         {
           "name": "query",
           "in": "query",
           "type": "string",
           "description": "what to search for"
         },
         {
           "name": "format",
           "in": "path",
            "enum": ["json"],
            "description": "format is requested by *.ext - but the only returned format is 'json' at the moment"
         }
     ]
    },
    "responses": {
       "200": {
         "description": "Expected response to a valid request"
       }
    }
  },
  {
    "definitions": {
      "Person": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "SearchResults": {
        "type": "object",
        "properties": {
          "numFound": { "type": "integer" },
          "groups": {"type": "object" },
          "items": { "type": "array", "items": { "$ref": "#/definitions/SearchResultItem" }}
        }
     },
     "ModifiedList": {
       "type": "object",
       "properties": {
        "numFound": { "type": "integer" },
        "offset": {"type": "integer" },
        "items": { "type": "array", "items": { "$ref": "#/definitions/SearchResultItem" }} }
     },
     "SearchResultItem": {
       "uri" : "string",
       "name": "string",
       "group": "integer"
      },
      "ModifiedListItem": {
        "uri": "string"
      }
     }
    }
   }
 }
}





