-# include template helpers
- import edu.duke.oit.vw.scalatra.TemplateHelpers._

-# using "it", see http://scalate.fusesource.org/documentation/user-guide.html#DRY_IT
-@ import val it: edu.duke.oit.vw.models.Publication
-@ val year: String

= render(tpath("shared/Article.jade"), Map("it" -> it, "year" -> year))