-# include template helpers
- import edu.duke.oit.vw.scalatra.TemplateHelpers._

- import edu.duke.oit.vw.models.Person
-@ var overview: List[Map[String, String]]
-@ var style: String


-# The overview object is really a list of person objects.
- for (personAttributes <- overview)
  p 
    ! #{personAttributes.get("overview")}
    a(href={fixURL(personAttributes.getOrElse("uri", ""))}) More info

